.full-content {
  width: 1140px;
  height: 800px;
  margin: 0 auto;
}

.content {
  display: flex;
  height: 50vh;
}
.content .main-content {
  flex: 6;
  margin-left: 20px;
}
.main-content {
  background-color: rgb(238, 234, 234);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
